<h1>Pagina principal del Sistema</h1>
<p>Tu rol es: <strong>{{currentUser.rol}}</strong>.</p>
<p>A esta pagina acceden todos los usuarios.</p>
<div>
    El usuario es:
    <ul>
        <li *ngIf="currentUser">{{currentUser.nombre}}</li>
    </ul>
</div>