<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1 text-light" routerLink="/"><i class="fas fa-poll"></i> Sistema de Bienes</span>
    <a class="nav-item nav-link text-light" routerLink="/home" *ngIf="currentUser">Inicio</a>
    <a class="nav-item nav-link text-light" routerLink="/user" *ngIf="currentUser">Usuarios</a>
    <a class="nav-item nav-link text-light" routerLink="/marcas" *ngIf="currentUser">Marcas</a>
    <span class="mr-auto"></span>
    <button class="btn btn-primary mr-2" routerLink="/login" *ngIf="!currentUser">Login</button>
    <button class="btn btn-primary mr-2" (click)="logout()" *ngIf="currentUser">Cerrar Sesión</button>
</nav>