<table class="table table-hover">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Nombre usuario</td>
            <td>Email</td>
            <td colspan="2">Actions</td>
        </tr>
        </thead>

        <tbody>
            <tr *ngFor="let u of usuarios; let i = index">
                <td>{{ u.nombre }}</td>
                <td>{{ u.apellido }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td><a (click)='editar(i)' class="btn btn-primary">Editar</a></td>
            </tr>
        </tbody>
</table>
