<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Administración  <b>Marcas</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Nueva Marca</span></a>
          </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Nombre de la marca</th>
                <th>Estado</th>
                <th colspan="2">Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let u of marcas; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ u.nombre_marca }}</td>
                <td>{{ u.activo ? 'Activo' : 'Inactivo' }}</td>
                <td><a (click)='editar(i)' class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>


<div class="pt-3 pb-2 mb-3">
    <a (click)='agregar()' class="btn btn-success text-light">Agregar marca</a>
</div>

